<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="form_upload" action="@Url.Action("UploadGaaPost","Home")" method="POST" enctype="multipart/form-data">
                <h3 style="font-weight: bold;" class="text-center">Print ORS</h3>
                <div class="modal-body">
                    
                </div>
            </form>
        </div>
    </div>
</div>