
@{
    ViewBag.Title = "Create";
}
<div class="container">
    <h2>Create</h2>
    <div class="row">
        <div class="col-md-4">
            <form action="@Url.Action("Create","Budgets")" method="post">
                @Html.AntiForgeryToken()
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger" role="alert"><strong><span class="glyphicon glyphicon-question-sign"></span></strong> @TempData["Error"].ToString()</div>
                    TempData["Error"] = null;
                }
                <table class="table">
                    <tr>
                        <td>Year</td>
                        <td>
                            <input class="form-control" name="year" type="number" required/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="submit" value="Submit" class="btn btn-success"/>
                            <a href="@Url.Action("Index","Budgets")" class="btn btn-warning">Cancel</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>