
@model PagedList.IPagedList<YearBudget>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Current Year";
}

<div class="alert">
    <div class="col-md-12">
        <div class="alert alert-rex">
            <h2>Budget Year Reference</h2>
            <a href="@Url.Action("Create","Budgets")" class="btn btn-success pull-right" style="margin-bottom:10px;"><span class="glyphicon glyphicon-plus"></span> Add new</a>
            <table class="table">
                <tr style="background-color:#D5DBDB;">
                    <td>Year Referrence</td>
                    <td></td>
                </tr>
                @foreach (YearBudget yb in Model)
                {
                    <tr>
                        <td style="color:#071D47;font-weight:bold;">
                           @yb.Year Budget</td>
                        <td>
                             <a href="@Url.Action("DeleteYear","Budgets",new { id = yb.ID })" class="btn btn-danger" onclick="return confirm('Do you want to delete this year?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
            <div class="pagination">
                @if (Model.PageCount >= Model.PageSize)
                {
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                }
            </div>
        </div>
    </div>
</div>