
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted" style="color:white;margin-top:10px;">DOH RO7 Budget Section System</p>
            </div>
            <div class="col-md-6">
                <h3 style="color:white;font-size:2em;font-weight:bold;" id="total_ors"> </h3>
            </div>
        </div>
    </div>
</footer>