
<div class="modal bs-example-modal-sm" role="dialog" aria-labelledby="gridSystemModalLabel" id="page_modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body">
                
            </div>
            <center class="loading">
                <img src="~/Content/img/spin.gif" />
            </center>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="ors_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body ors_body">
            </div>
            <center class="loading">
                <img src="~/Content/img/spin.gif" />
            </center>
            
        </div>
        
    </div>
</div>

<center class="modal fade" tabindex="-1" role="dialog" id="loading_modal">
    <img src="@Url.Content("~/Content/img/spin.gif")" width="150" style="padding:10px; color: whitesmoke;">
    <br />
    <strong style="color:white;">Saving Data.....</strong>
</center>

<center class="modal fade" tabindex="-1" role="dialog" id="loading">
    <img src="@Url.Content("~/Content/img/spin.gif")" width="150" style="padding:10px; color: whitesmoke;">
    <br />
</center>