
<div class="modal" role="dialog" aria-labelledby="gridSystemModalLabel" id="page_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body modal_body">
                
            </div>
            <center class="loading">
                <img src="~/Content/img/spin.gif" />
            </center>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->