
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form role="form" action="@Url.Action("SAOB","Reports")" method="post">
                <select name="allotment" class="form-control">
                    @foreach (Allotments allotments in Model)
                    {
                        <option value="@allotments.ID">@allotments.Code</option>
                    }
                </select>
            </form>
        </div>
    </div>
</div>