
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>SAOB Reports</h3>
            <form role="form" action="@Url.Action("DownloadSaob","Reports")" method="post">
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>Select source fund</td>
                        <td>
                            <select name="allotment" class="form-control">
                                <option value="">--- Select a budget source fund</option>
                                @foreach (Allotments allotments in Model)
                                {
                                    <option value="@allotments.ID">@allotments.Code</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date From</td>
                        <td><input type="date" name="from" required class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Date To</td>
                        <td><input type="date" name="to" required class="form-control" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-print"></span> Print</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>