
@model PagedList.IPagedList<ors_head_request>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List of ORS Head Requesting Office / Authorized Representative";
}



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>List of ORS Head Requesting Office /Authorized Representative </h2>
            <div class="panel panel-default">
                <div class="panel-heading"><a href="@Url.Action("CreateOrsHeadRequest","ORS")" class="btn btn-success btn-sm">Create New</a></div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr>
                            <th class="text-center">Head Name</th>
                            <th class="text-center">Position</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        @foreach (ors_head_request yb in Model)
                        {
                            <tr>
                                <td>@yb.Name</td>
                                <td>@yb.Position</td>
                                <td>
                                    <a href="#" class="btn btn-info">UPDATE</a>
                                    <a href="#" class="btn btn-danger">CANCEL</a>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="pagination">
                       @if (Model.PageCount >= 10)
                       {
                           @Html.PagedListPager(Model, page => Url.Action("ors_head_request_office", new { page }))
                       }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
