
@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Create Budget Allotment</h2>
            <form action="@Url.Action("Create","Allotments")" method="post">
                @Html.AntiForgeryToken()
                <table class="table">
                    <tr>
                        <td>Budget Allotment Title</td>
                        <td><input type="text" name="title" class="form-control" required /></td>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td><input type="text" name="code" class="form-control" required /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" class="btn btn-success" name="submit" value="Submit" />
                            <a href="@Url.Action("Index","Allotments")" class="btn btn-warning">Cancel</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
@section footer{
    @Html.Partial("footer")
}
