<h3>Expense Code Sub-Allotment</h3>

<form action="@Url.Action("ExpenseSuballotment","Allotments")" method="post">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <td class="col-md-1">Desription</td>
                    <td class="col-md-1">:</td>
                    <td class="col-md-10">
                        <input type="text" name="description" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
