
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success" style="margin-top:10px;">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-transfer"></i> FundSource Realignment
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li>
                                    <a href="javascript:void(0)" id="submit">Save</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>@ViewBag.Head</h4>
                            <div id="table" data-expense="@Url.Action("GetFundSourceUacs","Allotments",new { fundsource = ViewBag.fundsource })" data-save="@Url.Action("SaveRealignment","Allotments")" data-fundsource="@ViewBag.fundsource"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
       var expense_codes = [];
       var container = document.getElementById("table");
       var table;
       var valid = true;
      
       table = new Handsontable(container, {
           startRows: 50,
           startCols: 6,
           manualColumnResize: true,
           rowHeaders: true,
           colWidths: [1, 300, 300, 300,300,300],
           stretchH: 'all',
           colHeaders: true,
           contextMenu: ['row_above','row_below','remove_row','copy'],
           manualColumnMove: true,
           fillHandle: {
               autoInsertRow: false,
           },
           colHeaders: ['ID', 'Realignment From (UACS)','Amt. Before Any Realignment','Amt. After Realignments','Realign To (UACS)','Realignment Amt.'],
           columns : [
              {}, { type: 'dropdown', source: expense_codes }, {}, {}, { type: 'dropdown', source: expense_codes }, {}
           ],
           cells: function (r, c, prop) {
               var cellProperties = {};
               if (c === 0) cellProperties.readOnly = true;
               return cellProperties;
           },
           beforeRemoveRow: function (index, column) {
               var items = this.getData();
               var row_item = items[index];
               var url = $("#table").data('delete');

               var ps = {
                   "ID": row_item[0]
               };
               var data = {
                   data: JSON.stringify(ps)
               };
               $.post(url, data, function (resdata) {

               });
           }
       });
       var expense_url = $("#table").data('expense');
       $(document).ready(function () {
           $.get(expense_url, function (expense_res) {
               if (expense_res.length > 0) {
                   for (var i = 0; i < expense_res.length; i++) {
                       expense_codes[i] = expense_res[i]["uacs"];
                   }
               }
           });
       });
       $("#submit").click(function () {
           var tabledata = table.getData();
           var realignment = [];
           for (var i = 0; i < tabledata.length; i++) {
               realignment[i] = {
                   "ID": tabledata[i][0],
                   "uacs_from": tabledata[i][1],
                   "uacs_to" : tabledata[i][4],
                   "amount": tabledata[i][5]
               };
           }
           var data = {
               fundsource : $("#table").data('fundsource'),
               data: JSON.stringify(realignment)
           };
           setTimeout(function () {
               var url = $("#table").data('save');
               $.post(url, data, function (res) {
                   $(".panel-body").html(res);
                   $("#loading_modal").modal('hide');
               });
           }, 1000);
       });
    </script>
}
