
@{
    ViewBag.Title = "GAA Personnel Services";
}

<div id="table" data-get="@Url.RouteUrl("get_json_gaa")" data-save="@Url.RouteUrl("save_json_gaa")"></div>

@section scripts {
    <script>
       var container = document.getElementById("table");
       var table;
       table = new Handsontable(container, {
           startRows: 50,
           startCols: 7,
           manualColumnResize: true,
           rowHeaders: true,
           colWidths : [1,400,200,200,200,200,200],
           colHeaders: true,
           contextMenu: true,
           fillHandle: {
                   autoInsertRow: false,
           },
           colHeaders: ['ID','<strong style="font-weight:bolder;">PARTICULARS</strong>', 'UACS EXPENSE CODE', 'STO-Operations <br /> of Regional Offices', 'Public Health Management', 'Regulation of Regional <br />Health Facilities and Services', 'Total'],
       });
       $(document).ready(function () {
           var url = $("#table").data('get');
           $.get(url, function (resdata) {
               if (resdata.length > 0)
               {
                   var tabledata = [];
                   var total;
                   for (var i = 0; i < resdata.length; i++) {
                       tabledata[i] = new Array(resdata[i]['ID'], resdata[i]['Particulars'], resdata[i]['UACS'], numberWithCommas(resdata[i]['STO_Operations']), numberWithCommas(resdata[i]['PHM']), numberWithCommas(resdata[i]['RRHFS']), numberWithCommas(resdata[i]['Total']));
                   }
                   table.loadData(tabledata);
               }
           });
       });

       $(window).bind('keydown', function (event) {
           if (event.ctrlKey || event.metaKey) {
               switch (String.fromCharCode(event.which).toLowerCase())
               {
                   case 's':
                       event.preventDefault();
                       document.body.style.cursor = 'wait';

                       var url = $("#table").data('save');
                       var ps = [];
                       var data = table.getData();
                       for (var i = 0; i < data.length; i++) {
                           data[i][3] = data[i][3] ? data[i][3] : 0;
                           data[i][4] = data[i][4] ? data[i][4] : 0;
                           data[i][5] = data[i][5] ? data[i][5] : 0;
                           ps[i] = {
                               "ID": data[i][0],
                               "Particulars": data[i][1],
                               "UACS": data[i][2],
                               "STO_Operations": data[i][3],
                               "PHM": data[i][4],
                               "RRHFS": data[i][5]
                           };
                       }
                       var data = {
                           data: JSON.stringify(ps)
                       };
                       $.post(url, data, function (res) {
                           document.body.style.cursor = 'default';
                           /*
                           var total;
                           for (var i = 0; i < resdata.length; i++) {
                                                      
                               tabledata[i] = new Array(resdata[i][0], resdata[i][1], numberWithCommas(resdata[i][2]), numberWithCommas(resdata[i][3]), numberWithCommas(resdata[i][4]), numberWithCommas('10000'));
                           }
                           table.loadData(tabledata);
                           */
                       });
                    break;
               }
           }
       });   
    </script>
}