
@model BUDGET.Models.ProductListViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid homepage">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                
            </div>
        </div>
    </div>
</div>