
@{
    ViewBag.Title = "Users Management";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
               <tr>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Username</th>
                   <th>User Role</th>
               </tr>
               @foreach(var a in Model)
               {
                   <tr>
                       <td>@a</td>
                   </tr>
               }
            </table>
        </div>
    </div>
</div>



