

<h3>Reset Password</h3>
<form action="@Url.Action("ResetPassword","UserAccount")" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>